<a href="https://colab.research.google.com/github/Priyadharshini411/Priyadharshini411/blob/main/python_lab_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

# Addition
print(f"Addition: {num1} + {num2} = {num1 + num2}")

# Subtraction
print(f"Subtraction: {num1} - {num2} = {num1 - num2}")

# Multiplication
print(f"Multiplication: {num1} * {num2} = {num1 * num2}")

# Division and Modulus only if second number is not zero
if num2 != 0:
    print(f"Division: {num1} / {num2} = {num1 / num2}")
    print(f"Modulus: {num1} % {num2} = {num1 % num2}")
else:
    print("Division and Modulus not possible (division by zero)")

# Exponentiation (Power)
print(f"Exponentiation: {num1} ** {num2} = {num1 ** num2}")

Enter first number: 13
Enter second number: 12
Addition: 13 + 12 = 25
Subtraction: 13 - 12 = 1
Multiplication: 13 * 12 = 156
Division: 13 / 12 = 1.0833333333333333
Modulus: 13 % 12 = 1
Exponentiation: 13 ** 12 = 23298085122481

In [2]:
import numpy as np   # Import NumPy library

# Create a list with 10 numbers
numbers = [10, 25, 40, 5, 60, 75, 90, 15, 35, 50]

print("Original List:", numbers)

# Print length of the list
print("Length of the list:", len(numbers))

# Find maximum and minimum value
print("Maximum value:", max(numbers))
print("Minimum value:", min(numbers))

# Add a new element
numbers.append(100)
print("After adding 100:", numbers)

# Remove one element
numbers.remove(5)
print("After removing 5:", numbers)

# Sort in ascending order
numbers.sort()
print("Ascending Order:", numbers)

# Sort in descending order
numbers.sort(reverse=True)
print("Descending Order:", numbers)

# Convert list into NumPy array
array = np.array(numbers)
print("NumPy Array:", array)

# Calculate Mean, Median and Standard Deviation
print("Mean:", np.mean(array))
print("Median:", np.median(array))
print("Standard Deviation:", np.std(array))

Original List: [10, 25, 40, 5, 60, 75, 90, 15, 35, 50]
Length of the list: 10
Maximum value: 90
Minimum value: 5
After adding 100: [10, 25, 40, 5, 60, 75, 90, 15, 35, 50, 100]
After removing 5: [10, 25, 40, 60, 75, 90, 15, 35, 50, 100]
Ascending Order: [10, 15, 25, 35, 40, 50, 60, 75, 90, 100]
Descending Order: [100, 90, 75, 60, 50, 40, 35, 25, 15, 10]
NumPy Array: [100  90  75  60  50  40  35  25  15  10]
Mean: 50.0
Median: 45.0
Standard Deviation: 29.32575659723036

In [4]:

student = {
    "name": "Priya",
    "age": 20,
    "course": "AI & DS",
    "marks": 88
}

# Print each key-value using loop
print("Student Details:")
for key, value in student.items():
    print(key, ":", value)

# Add new key called grade
student["grade"] = "A"
print("\nUpdated Dictionary:", student)

# Create a set with duplicate values
courses = {"Python", "Data Science", "AI", "Python"}
print("\nUnique Courses Set:", courses)

# Create two sample sets
set1 = {"Python", "Java", "C"}
set2 = {"Python", "AI", "Data Science"}

# Perform set operations
print("\nUnion:", set1.union(set2))
print("Intersection:", set1.intersection(set2))
print("Difference:", set1.difference(set2))

Student Details:
name : Priya
age : 20
course : AI & DS
marks : 88

Updated Dictionary: {'name': 'Priya', 'age': 20, 'course': 'AI & DS', 'marks': 88, 'grade': 'A'}

Unique Courses Set: {'Python', 'AI', 'Data Science'}

Union: {'AI', 'Java', 'Data Science', 'Python', 'C'}
Intersection: {'Python'}
Difference: {'Java', 'C'}

In [5]:
# Create and write data into a file
with open("student_data.txt", "w") as file:
    file.write("Arun,Python,80\n")
    file.write("Divya,AI,90\n")
    file.write("Kumar,Data Science,72\n")
    file.write("Meena,Python,85\n")
    file.write("Ravi,AI,60\n")

print("Student data written into file successfully.")

# Read file and display students with marks above 75
print("\nStudents with marks above 75:")

with open("student_data.txt", "r") as file:
    for line in file:
        name, course, marks = line.strip().split(",")
        if int(marks) > 75:
            print("Name:", name, "| Course:", course, "| Marks:", marks)

Student data written into file successfully.

Students with marks above 75:
Name: Arun | Course: Python | Marks: 80
Name: Divya | Course: AI | Marks: 90
Name: Meena | Course: Python | Marks: 85